<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="projects-section">
    <section class="section projects" id="projects">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">My Work</h2>
                <p class="section-subtitle">
                    Dive into my latest projects built using Java, Spring Boot, MySQL, and more.
                </p>
            </div>
            <!-- Project Section Container -->
            <div class="projects-container">

                <!-- Smart Email Assistant -->
                <div class="project-card">
                    <div class="project-image">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">RESTful APIs</span>
                            <span class="project-tag">Data JPA</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">Gemini API</span>
                            <span class="project-tag">Mongodb</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Smart Email Assistant</h3>
                        <p class="project-description">
                            A smart email assistant built using Spring Boot and Gemini API that helps users write or reply to emails in any desired tone, from formal to friendly, saving time and maintaining consistent communication.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/XtraTerstial/email-writer" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Apex Stay -->
                <div class="project-card">
                    <div class="project-image">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Spring Boot</span>
                            <span class="project-tag">RESTful APIs</span>
                            <span class="project-tag">Data JPA</span>
                            <span class="project-tag">PostgresSQL</span>
                            <span class="project-tag">Spring Security</span>
                            <span class="project-tag">CI/CD Pipeline</span>
                            <span class="project-tag">Postman</span>
                            <span class="project-tag">DBeaver</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Apex Stay</h3>
                        <p class="project-description">
                            Backend service for Apex Stay, an Airbnb-inspired booking platform built with Java, Spring Boot, and PostgresSQL. It offers RESTful APIs for authentication, property management, search, and bookings — showcasing modern backend development practices.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/XtraTerstial/ApexStay" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Recipe Search App -->
                <div class="project-card">
                    <div class="project-image">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Kotlin</span>
                            <span class="project-tag">Android</span>
                            <span class="project-tag">MVVM</span>
                            <span class="project-tag">Clean Architecture</span>
                            <span class="project-tag">Retrofit</span>
                            <span class="project-tag">Room Database</span>
                            <span class="project-tag">Coroutines</span>
                            <span class="project-tag">Cache Storage</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Recipe Search App</h3>
                        <p class="project-description">
                            A Recipe Search App built with Kotlin following Clean Architecture and MVVM design pattern. It uses Retrofit for API integration and Room Database for offline caching. The app also stores favorite recipe tags in the device’s cache for faster access and an enhanced user experience.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/XtraTerstial/RecipeApk" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                        </div>
                    </div>
                </div>

            </div>


            </div>
        </div>
    </section>
</th:block>
</html>